.wrapper { max-width: -webkit-calc(800px - (50px * 2)); max-width: calc(800px - (50px * 2)); margin-right: auto; margin-left: auto; padding-right: 50px; padding-left: 50px; }

.clearfix:before, .wrapper:before, .clearfix:after, .wrapper:after { content: ' '; display: table; }

.clearfix:after, .wrapper:after { clear: both; }
